<h1>Contact Manager</h1>
<div>
  <h3>Import a CSV File</h3>
  <%= form_tag import_contacts_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
  <%= flash[:notice] %>
</div>

